body {
    font-family: arial, sans-serif;
    color: #222;
}
#navbar {
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 40px;
    height: 50px;
}
.navbar-left {
    float: left;
}
.navbar-left li {
    padding: 10px 5px 0px 15px;
    opacity: 0.75;
}
.navbar-right {
    float: right;
    opacity: 0.85;
    margin-right: 30px;
}

.navbar-right li {
    padding: 10px 12px 0px 5px;
}

#gsuite-image {
    background-image: url(https://web.archive.org/web/20191130234759im_/https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    display: inline-block;
    background-position: -137px -45px;
    background-size: 528px 68px;
    opacity: 0.55;
    box-sizing: border-box;
    padding-left: 10px;
}

#gsuite-image:hover {
    opacity: 0.85;
}

#sign-in-button {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    margin-top: 3px;
    margin-left: 5px;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background-image: -webkit-linear-gradient(rgb(67, 135, 253), rgb(70, 131, 234));
    font-weight: 700;
    border-radius: 2px;
    border-color: rgb(66, 133, 244);
    border-style: solid;
    border-width: 2px;
}
#sign-in-button a {
    color: #FFF !important;
    cursor: default;
}
#sign-in-button a:hover {
    text-decoration: none;
}
#navbar a {
    color: #000;
}

#logo {
    padding-top: 90px;
}

#search-bar {
    background-color: #FFF;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 460px;
    height: 44px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(223, 225, 229);
    border-radius: 25px;
    background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 12px;
    padding-left: 40px;
    font-size: 16px;
}

#search-bar:hover, #search-bar:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.search-buttons {
    background-color: rgb(242, 242, 242);
    background-image: -webkit-linear-gradient(rgb(245, 245, 245), rgb(241, 241, 241));
    font-size: 14px;
    font-family: arial, sans-serif;
    border-style: solid;
    border-color: rgb(242, 242, 242);
    border-radius: 4px;
    border-width: 1px;
    color: rgb(95, 99, 104);
    height: 36px;
    margin: 2px 4px 11px 4px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    cursor: pointer;
}

.search-buttons:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#footer {
    display: block;
    position: fixed;
    margin-left: -8px;
    height: 35px;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    background: #f2f2f2;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    border-width: 1px;
}

#footer a {
    color: rgb(95, 99, 104);
}

.footer-left {
    float: left;
    margin-left: 30px;
    padding-top: 10px;
}

.footer-left a {
    padding: 0px 25px 0px 0px;
}

.footer-right {
    float: right;
    margin-right: 30px;
    padding-top: 10px;
}

.footer-right a {
    padding: 0px 25px 0px 0px;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

#gsuite-image {
    height: 20px;
    width: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}